[Unit]
Description=IRC bot for #autsider
Wants=network-online.target
After=network.target network-online.target
StartLimitInterval=300s
StartLimitBurst=3

[Service]
Type=forking
PIDFile=/home/autimaat/data/app.pid
ExecStart=/home/autimaat/bin/autimaat /home/autimaat/data/
Restart=on-failure
User=autimaat

[Install]
WantedBy=multi-user.target
